.secaoProdutos {
    text-align: center;
    padding: 100px 20px;
}

.cards {
    justify-content: center;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    padding: 20px 10px;
    margin-bottom: 20px;
}

.cards div h3 {
    font-size: 32px;
    font-weight: bold;
    margin: 15px;
}

.cards div img {
    height: 120px;
    width: 380px;
    margin: 30px;
}

.cards div {
    margin: 20px;
}

.cards div p {
    font-weight: bold;
    font-size: 22px;
    margin: 0;
}

.listaProdutos {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.listaProdutos li {
    text-align: left;
    margin: 5px;
}

@media (max-width: 768px) {
    .secaoProdutos {
        padding: 60px 20px;
    }

    .cards div h3 {
        font-size: 22px;
    }

    .cards div p {
        font-size: 16px;
    }
}

@media (max-width: 550px) {
    .secaoProdutos {
        padding: 0 10px;
    }

    .listaProdutos {
        align-items: flex-start;
    }
}